body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 200px;
    height: 200px;
    background-color: #f6e8d7;
    margin-top: 40px;
    position: relative;
}

.container .floor{
    width: 200px;
    height: 70px;
    background-color: #232323;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 129px;
    position: relative;
}


.container .left-leg{
    position: absolute;
    left: 30px;
    bottom: 0;
    top: 66px;
    right: 0;
}

.container .right-leg{
    position: absolute;
    left: 110px;
    bottom: 0;
    top: 66px;
    right: 0;
}